/* Global Variables */
:root {
    --header-height: 40px;
    --footer-height: 30px;
    --main-height: calc(100% - var(--header-height) - var(--footer-height));
    --pd-normal: 1%;
    --pd-nav:15px;

    --ff: "Averta",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    
    --br:5px;

    --body-quiet-color:#666;
    --brand-color:#a42676;
    --brand-color-alt:#a42676;
    --brand-light: #fff;

    --brand-hue: 322; 
    --brand-saturation:  59%; 
    --brand-lightness: 45%;
    --primary: var(--brand-color-alt) !important;
    --secondary: hsl(var(--brand-hue), var(--brand-saturation), calc(var(--brand-lightness) + 10%));
    --header-bg:var(--secondary);
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  /* Reset Styles */
  * {
    padding: 0;
    margin: 0;
  }
  
  html {
    font-size: 16px;
    min-height: 100vh;
    background-color: #e4e9f7
  }

  .active{
    display: block !important;
  }

  a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
a{
  text-decoration: none;
}
  /* Body Styles */
  body {
    font-family: var(--ff);
    font-weight: 350;
    font-size: 1rem;
    color: #111;
  }
  
  /* Main, Header, and Footer Styles with Transition */
  main,
  header,
  footer {
    --max-width: 100%;
    --pd: 1%;
    --min-width:260px;
    width: calc(var(--max-width));
    min-width:calc(var(--min-width) - var(--pd)*2);
    transition: all 1s ease-in-out; 
  }
  
  /* Main Styles */
  main {
    background-color: #fff;
    overflow:hidden;
  }
  
  /* Header and Footer Styles */
  header,
  footer {
    background-color: #fff;
    color: var(--brand-color-alt);
    align-items: center;
    font-weight: 700;
  }
  
  header .logo{
    height: 48px;
    width:48px;
  }
  header .logo-text{
    margin-inline:5px;
    margin-inline-end: 20px;
    font-weight: 300;
    font-size: 1.4rem;
    color: var(--brand-color-alt);
  }

  header .nav-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
  }
  .nav-left,.nav-right > *{
    margin-inline: var(--pd-nav);
  }

  footer {
    position: relative;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }


header {
  --max-width: 100%;
  --pd: 1%;
  width: calc(var(--max-width));
  align-items: center;
  color: var(--brand-color-alt);
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  height: 68px;
  justify-content: space-between;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.08), 0px 8px 12px rgba(0,0,0,0.04);
}
  
@media (max-width:768px){
  header .logo-text{
    display: none;
  }
}

  header .nav-middle ul {
    display: flex;
  }
  
  ul {
    list-style: none;
  }
  
  footer > ul {
    display: flex;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  footer ul li {
    margin: 0.3rem 0.5rem;
  }
  
  header .nav-middle ul li {
    margin-inline: 10px;
    font-weight: 500;
    font-size: 1rem;
  }
  header .nav-middle ul li{
    position: relative;
  }
  header .nav-middle ul li a {
    text-decoration: none;
    overflow: hidden;
    color: #2e334d;
    padding:9px;
    border-radius: 5px;
    color: #5b564c;
  }
  header .nav-middle ul li a:hover{
    /* color: var(--brand-color-alt); */
    background-color: #EBEDF5;
  }

  .icon-cancel, .icon-menu {
    font-size: 1.5rem; /* This will be 24px (1.5 * 16px) */
  }

  header .nav-right > :is(.icon-cancel,.icon-menu){
    display: none;
  }
  /*
  header .nav-middle ul li a::before{
    content: '\2192'; 
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    opacity: 0; 
    font-size: 1.3rem;  
  }
  */
  header .nav-middle ul li a:hover::before{
    opacity: 1;
  }
  .maisha-btn {
    touch-action: manipulation;
    align-self: auto;
    background-color: #bebdd4;
    background-image: linear-gradient(var(--brand-color-alt), var(--brand-color));
    border-radius: 23px;
    box-shadow: rgba(131, 50, 234, .01) 0 41px 17px, rgba(131, 50, 234, .05) 0 23px 14px, rgba(131, 50, 234, .09) 0 10px 10px, rgba(131, 50, 234, .1) 0 3px 6px;
    color: #fff;
    font-family: Greycliff, sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    height: 46px;
    left: auto;
    line-height: 1;
    padding: 8px 24px 10px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    transition: all .3s ease-in-out;
    transition-behavior: normal;
    z-index: 2;
    margin: 3px;
  }
  .maisha-btn {
    touch-action: manipulation;
    border-style: initial;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
  }
  .maisha-btn:active,
  .maisha-btn:hover {
    background-image: linear-gradient(var(--brand-color), var(--brand-color-alt));
  }
  
  .maisha-btn:active {
    box-shadow: rgba(131, 50, 234, .1) 0 3px 6px;
  }
  /* Base styles for the button */
.donate-button {
    z-index:1000;
    display: flex;
    background-color: var(--brand-light);
    color: var(--brand-light);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); /* Add box-shadow for a subtle effect */
    font-size: 16px;
    font-weight: bold;
    border-radius: 28px;
    cursor: pointer;
    animation: seekAttention 3s infinite ease-in-out;
    position: fixed;
    bottom:calc(var(--footer-height)*2);
    right: calc(var(--pd-nav)*1.5);
    overflow: hidden;
    align-items: center;
  }
  
  .donate-button a{
    color: var(--brand-light);
    text-decoration: none;
  }
  .donate-button img{
    height: 35px;
  }

  /* Animation keyframes for seeking attention effect */
  @keyframes seekAttention {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  .donate-button::before {
    content: '\2192'; /* Unicode for the right arrow symbol */
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 1.2rem;
    transform: translateY(-50%);
    opacity: 0; /* Hide the arrow by default */
    transition: opacity 0.3s ease-in-out; /* Fade-in animation on hover */
  }
    /* Show the arrow on hover */
    .donate-button:hover::before {
        opacity: 1;
      }
  /* Pause animation when button is hovered or focused */
  .donate-button:hover,
  .donate-button:focus {
    animation-play-state: paused;
  }
  
  /* Styles when the button is hovered */
  .donate-button:hover {
    transform: scale(1.05); /* Slightly larger on hover */
  }
  
  /* Styles when the button is active (clicked) */
  .donate-button:active {
    transform: scale(0.95); /* Slightly smaller when clicked */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow when clicked */
  }
  
  /* Style for when the button is focused (using keyboard navigation) */
  .donate-button:focus {
    outline: none; /* Remove default focus outline */
    transform: scale(1.05); /* Slightly larger when focused */
    box-shadow: 0 0 8px rgba(227, 111, 30, 0.6); /* Add a colored shadow when focused */
  }
  
  @media (max-width:1162px){
    .nav-middle {
      display: none;
      background-color: var(--brand-light);
      color: var(--brand-color-alt);
      top: calc(var(--header-height)*1.5);
      position: absolute;
      z-index: 1000;
      border-radius: var(--br);
      padding: 5%;
      right: calc(var(--pd-nav)*0.2);
      line-height: 1.5;
      box-shadow: var(--box-shadow);
  }
  header .nav-right > :is(.icon-menu){
    display: block;
  }

  header .nav-right > .icon-menu:hover  .nav-middle{
      display: block;
    
  }

    header .nav-middle ul{
            display: block;
        }

    header .nav-middle ul li{
        padding: 5px 0;
    }

  }

  .donation{
    width: 80%;
    margin: 0 10%;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    color:rgb(51, 51, 51);
  }

  .donation__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--brand-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.donation__button:hover {
    background-color: var(--brand-color-alt);
    /* Add a hover effect to make the button stand out */
}

.donation__header{
  background-color: transparent;
  color: var(--brand-color-alt);
  text-align: center;
  padding: 15px 20px;    
}

.donation__title {
  font-size: clamp(1.75rem, 1.03205rem + 2.24359vw, 2.1875rem);
  font-weight: 600;
  line-height: 1.2;
  margin-block-end: 1rem;
  position: relative;
  text-shadow: rgba(0, 0, 0, 0.15) 0px 0.07em 0.14em;
}
.donation__formv>*{
  padding:5px;
}
.donation__container {
    padding: 5px 20px;
    border-radius: 5px;
}

.donation__sub-title {
    font-size: 20px;
    font-weight: 600;
}

.donation__methods {
    list-style-type: disc;
}

.donation-methods {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donation__method {
  display: flex;
  align-items: center;
}

.donation__method input[type="radio"] {
  margin-right: 8px;
}

.donation__method-text {
  font-weight: bold;
}

.donation__method-img {
  width: 104px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  margin-right: 8px;
}


.donation__donate-title {
    font-size: 24px;
}

.donation__form {
    margin: 0;
}

.donation__label {
    display: block;
    margin: 10px 0;
}

.donation__input,
.donation__textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.donation__submit {
    background-color: var(--brand-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin:15px 0;
}

.donation__submit:hover {
    background-color: var(--brand-color-alt);
}

.donation__description {
    font-size: clamp(1.125rem, 0.919872rem + 0.641026vw, 1.25rem);
    line-height: 1.45;
    margin: 0px auto;
}

@media (max-width: 768px) {
  .donation__container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }
  .donation-methods {
    display: block;
    padding:10px 0;
  }
}

.progress-container{
  padding: 10px 30px;
}

.progress-bar {
  height: 10px;
  background: var(--brand-color-alt);
  border-radius: 10px;
}

.donation__container button{
  background-color: var(--brand-color-alt);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.donation__container button:hover{
  background-color: var(--brand-color);
}

.button-flex{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* Container */
.eleso-container,.eleso-container-noshadow {
  --pd: 10px;
  --width: 100%;
  --tolerance: 10%;
  --font-size: 18px;
  border-radius: 10px;
  padding: var(--pd);
  max-width: calc(var(--width) - var(--tolerance) * 2 - var(--pd) * 2);
  margin: 0.1px auto;
  font-size: var(--font-size);
  background-color: var(--brand-light);
}
.eleso-container-noshadow{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
}
@media (max-width: 992px){
  .eleso-container,.eleso-container-noshadow{
    --pd:5px;
    --tolerance:5%;
  }
}


@media (max-width: 768px){
  .eleso-container,.eleso-container-noshadow{
    --pd:5px;
    --tolerance:2.5%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  }
  .eleso-organization-card__name,.eleso-heading{
    font-size: clamp(1.125rem, 0.919872rem + 0.641026vw, 1.25rem) !important;
  }
}

/* Contact container */
.contact-container {
  display: flex;
}
.eleso-organization-contact .dot-container{
  background-color: transparent;
}
.contact-container > :nth-child(1),
.contact-container > :nth-child(2) {
  padding: var(--pd);
}

.contact-container > :nth-child(1) {
  width: calc(var(--width) * (2/5) - var(--pd) * 2);
}

.contact-container > :nth-child(2) {
  width: calc(var(--width) * (3/5) - var(--pd) * 2);
}

@media (max-width: 768px) {
  .contact-container {
    display: block;
  }

  .contact-container > :nth-child(1),
  .contact-container > :nth-child(2) {
    width: calc(var(--width) - var(--pd) * 2.5);
  }
}

/* Heading */
.eleso-heading {
  color: var(--brand-color-alt);
  font-size: calc(var(--font-size)*1.3);
  padding-bottom: 10px;
  font-weight: 300;
}


/* Input */
.eleso-input {
  --pd: 12px;
  width: calc(100% - var(--pd) * 2);
  padding: var(--pd);
  margin: 15px 0;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.eleso-input--textarea {
  height: 150px;
}

/* Checkbox Label */
.eleso-checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* Checkbox */
.eleso-checkbox {
  margin-right: 8px;
}

/* Submit Button */
.eleso-submit-button {
  background-color: var(--brand-color-alt);
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-size: var(--font-size);
  border-radius: 8px;
}

/* Card container */
.eleso-organization-card {
  padding: var(--pd);
  margin: var(--pd);
  display: flex;
  flex-direction: column;
}

/* Organization name */
.eleso-organization-card__name {
  font-size: calc(var(--font-size)*2);
  margin-bottom: 10px;
  color: var(--brand-color-alt);
}

/* Email */
.eleso-organization-card__email,
.eleso-organization-card__phone,
.eleso-organization-card__address {
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 2px;
}
:is(
  .eleso-organization-card__email,
  .eleso-organization-card__phone,
  .eleso-organization-card__address
  ) :is(i,p) {
    color: #2b5f8f;
    padding: 1px 2px;
    font-size: large;
  }

  :is(
    .eleso-organization-card__email,
    .eleso-organization-card__phone,
    .eleso-organization-card__address
    ) p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

/* Media query for tablets (adjust the max-width as needed) */
@media (max-width: 768px) {
  .eleso-organization-card__email,
  .eleso-organization-card__phone,
  .eleso-organization-card__address {
    font-size: calc(var(--font-size) - 3px); /* Adjust the font size for tablets */
  }
  .eleso-organization-contact{
    background-color: blanchedalmond;
  }
  .eleso-organization-contact .eleso-organization-card__name{
    font-weight: 400;
  }
}

/* Media query for mobile devices (adjust the max-width as needed) */
@media (max-width: 480px) {
  .eleso-organization-card__email,
  .eleso-organization-card__phone,
  .eleso-organization-card__address {
    font-size: calc(var(--font-size) - 4px); /* Adjust the font size for mobile devices */
  }
}
/* Logo */
.eleso-organization-card__logo {
  text-align: center;
  margin-bottom: 20px;
}

.eleso-organization-card__logo-image {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
}




.maisha-partners-section {
  text-align: center;
  margin: 0 12.5%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partner_container {
  --gutter:10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr)); 
  gap: var(--gutter); 
  justify-content: center; 
  align-items: center; 
  margin: 20px 10px;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}

.basic-card {
  text-align: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.2s;
}
.partner-card{
  transition: transform 0.2s;
}

.partner-section{
  background-color: transparent;
  padding: 2.5em 4.5%;
}

.partner-section__about{
    color: #222;
    font-weight: 300;
    font-size: 1.2rem;
}
.slider-section{
  background-color: antiquewhite;
}

.partner-card:hover {
  transform: scale(1.05);
}

.partner-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.partner-card p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}


.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "card1 card2 card3 card4";
}

/* Media query for large screens */
@media (max-width: 1200px) {
  .grid-4 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "card1 card2 card3"
      "card4 card4 card4";
  }
}

/* Media query for medium screens */
@media (max-width: 800px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "card1 card2"
      "card3 card4";
  }
}

/* Media query for small screens */
@media (max-width: 600px) {
  .grid-4 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4";
  }
}

/* Define grid areas for individual cards */
.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

/* Add additional styling for individual cards as needed */
.card1,
.card2,
.card3,
.card4 {
  border: 1px solid #ccc;
}


.grid-4 > div:hover {
  box-shadow: var(--box-shadow);
}


.grid-2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    "main side";
}

.maisha-activity-card{
  grid-template-columns: 1fr 3fr;
  font-size: 1.1rem;
}

.grid-2 div.main-content {
  grid-area: main;
}

.grid-2 div.side-content {
  grid-area: side;
}

.grid-2 div.main-content,.grid-2 div.side-content{
  padding: 5px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .grid-2 {
    grid-template-columns: 1fr; /* Switch to a single column layout */
    grid-template-areas: 
      "side"
      "main";
  }
  .maisha-activity-card{
    grid-template-columns: 1fr; 
    grid-template-areas: 
    "main"
    "side";  
  }
}


footer :is(.org-card,.contact-card,.about-card,.quick-links){
  padding:10px 0;
}

.maisha-normal-card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  font-weight: 300;
}
.maisha-normal-card a{
  text-decoration: none;
}

.maisha-normal-card a:hover{
  color: var(--brand-color-alt);
}

.maisha-normal-card li{
  padding: 5px 0;
  margin: 5px 0;
}
.maisha-activity-card{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin: 15px 0;
  padding:10px;
  position: relative;
}
.d-col{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

footer .d-col{
  margin: 5px auto;
}

footer div .d-col li a{
  padding: 2px;
  text-decoration: none;
  line-height: 1.15;
  color: var(--brand-light);
  font-weight: 400;
}
footer div .d-col li a:hover{
  color: var(--brand-color-alt);
}
footer .copyright{
  font-size: .8rem;
  font-weight: 400;
}

footer :is(h1,h2,h3,h4,h5){
  font-weight: 500;
}

.share-card{
  position: absolute;
  top:4%;
  right:1%;
}
.icon-share{
  color:var(--brand-color-alt);
  border: 1px solid;
  border-radius: 100%;
  padding: 4px;
}
.icon-share:hover{
  background-color: var(--brand-color-alt);
  color: var(--brand-light);
  cursor: pointer;
  border: 1px solid transparent;
}
.share-card-body{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 5px;
  position: absolute;
  z-index:1000;
  background-color: var(--brand-light);
  border-radius: 5px;
  display: none;
  right: 0;
}

.share-card-body a{
  text-decoration: none;
}

.mission-section{
  text-align: center;
}

.mission-section h2{
  color: var(--brand-color-alt)
}


.layout_center{
  text-align: center;
}

.box_pd{
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.box_pd_large{
  padding: 4.5em 2em;
}
.box_border{
  border-top: 1px solid #afb9c1;
  border-bottom: 1px solid #afb9c1;
}

.bg_grey{
  background:#ebeeee;
}



.grid-parent{
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  align-content: flex-start;
}

.maisha-mission-card{
  width:75%;
}

.maisha-mission-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:992px){  
  .maisha-mission-card{
    width:58%;
  }
}
.fontSizeLarge{
  font-size: 1.25rem;
  line-height: 1.5;
}
.box_verticalPadded2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media screen and (min-width: 35.5em){
h1 {
    font-size: 2.5em;
}
}

.maisha-heading-text{
  font-family: Aleo,Georgia,serif;
  color:#2e334d;
}
.img-cover{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.grid-smart {
  --item-width: 220px;
  --gutter:10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
  gap: var(--gutter);
  margin: 0 auto;
  overflow: hidden;
}

/* Individual columns in the grid */
.col {
  box-sizing: border-box;
  padding: 5px;
}

.team-container{
  --max-height:100%;
  --team-pd:1%;

  padding-inline: var(--team-pd);
}

.team-member{
  --high_height:75%;
  --pd:var(--team-pd);
  --no_of_elements:3;
  --scale:2;

  --basic_height:calc(var(--max-height) - var(--pd) * var(--scale));
  --other_height:calc(var(--basic_height) - var(--high_height));
  --img_height:calc(var(--basic_height) - var(--other_height));
  --item_height: calc(var(--basic_height) * (1/var(--no_of_elements)));

  display: flex;
  flex-direction: column;
  padding: var(--pd);
}

.team-member img{
  --scale:1.3;
  height: var(--img_height) !important;
  padding-top: calc(var(--pd)*(1/2));
  padding-bottom: var(--pd);
}
.team-member-description{
  --scale:1.3;
  display: flex;
  flex-direction: column;
  height: var(--other_height) !important;
  padding-bottom: calc(var(--pd)*(1/2));
  padding-top: var(--pd);
}

.team-member-description > * {
  padding: var(--pd) 0 !important;
  height: var(--item_height) !important;
}
.team-member__role{
  text-transform: uppercase;
  color: #615646;
  font-weight: 700;
}

.team-member__username{
  font-style: normal;
  font-weight: 700;
  font-size: 1.15em;
  color: #3e4b59;
}

.team-member__contact_info{
  font-style: italic;
  font-weight: 500;
  font-size: .9em;
  letter-spacing: .12px;
  color: #0a1318;
}


.slider-section .dot-container{
  background-color: transparent !important;
}


.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "a b c d e f";
}


@media (max-width: 992px) {
  .grid-6 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "a b c" 
    "d e f";
  }
}

@media (max-width: 768px) {
  .grid-6 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b" 
    "c d" 
    "e f";
  }
}

.subscribe-form__fancy{
  background-color: bisque !important;
  border-radius: 15px !important;
  padding: 25px !important;
}

.subscribe-form__fancy .eleso-heading{
  font-weight: 400 !important;
}

@media (max-width:768px) {
  .subscribe-form__fancy{
    background-color: transparent !important;
    padding: var(--pd) !important;
  }
  .subscribe-form__fancy .eleso-heading{
    font-weight: 300 !important;
  }
}

.large-show{
  display: block;
}

@media (max-width:768px) {
  .large-show{
    display: none;
    padding: 2px 0;
  }
  .home-page .box_pd:nth-child(2){
    padding:2px 5px;
  }
    .team-member{
      --high_height:77%;
    }
}

.how-it-works-container{
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}
.how-it-works-section{
  gap: 10px;
  padding: 2%;
}

.how-it-works-section h3{
  font-family: Aleo,Georgia,serif; 
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: .61em;
  letter-spacing: .025em;
  color: #3e4b59;
  line-height: 1.15;
}

.smooth-font-large{
  color: #3e4b59;
  font-size: 2em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .025em;
  line-height: 1.15;
}
.smooth-font-medium{
  color: #3e4b59;
  font-size: 2.5em;
  font-style: normal;
  letter-spacing: .025em;
  line-height: 1.15;
}
.ruleBottom {
  position: relative;
  margin-bottom: 40px;
}

.how-it-works-section__card{
  background: #fff ;
  padding: 3em 6%;
  border-radius: 5px;
}
.how-it-works-section__card h4{
  text-transform: uppercase;
  margin-top: 1rem;
  height:20%;
  font-size: 1rem;
  font-weight: 500;
}
.how-it-works-section__card p{
  height:78%;
}
.grid-parent > * {
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  letter-spacing: .01em;
}

.hero-section {
  --h:400px;
  text-rendering: optimizespeed;
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "maisha_a maisha_b";
  justify-content: center;
  text-align: center;
  background-color: gainsboro;
}

.hero-section__primary{
  grid-area: maisha_a;
}
.hero-section__secondary {
  display: grid;
  grid-area: maisha_b;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: "maisha_c maisha_d" "maisha_e maisha_f";
  align-content: center;
  justify-content: center;
  text-align: center;
  gap:1px
}
.hero-section__primary,.hero-section__secondary{
  overflow: hidden;
  height: var(--h);
}
.hero-section__secondary > *{
  height: calc(var(--h) * 0.5);
}
.hero-section .carousel-container{
  --pd: 0;
  --tolerance-width: 0;
  --carousel-container-height:var(--h);
  border-radius: 0;

}
@media (max-width:768px){
  .hero-section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "maisha_a" "maisha_b";
  }
  .hero-section{
    --h:auto;
  }
 
}

.home-page__header2 {
  --max-width:100%;
  --pd:1%;
  position: relative;
  display: grid;
  grid-template-areas: "a a a a a b";
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--pd);
  background-color: var(--brand-color);
  color: var(--brand-light);
  width: calc(var(--max-width) - var(--pd)*2);
}


.home-page__header2 ul {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  grid-area: a;
  gap: 5px;
}

@media (max-width:480px){
  .home-page__header2 ul {
    grid-template-columns: repeat(3,1fr) !important;
    font-size: 0.875rem;
  }
}

.home-page__header2 li {
  grid-column: span 1 !important;
}

.home-page__header2 a {
  display: block;
  padding: 14px 2%;
  text-decoration: none;
  color: var(--brand-light);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.home-page__header2 .dropdown {
  float: right;
  overflow: hidden;
  grid-area: b;
}

.home-page__header2 .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #333;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-page__header2 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 1%;
  
}

.home-page__header2 .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.home-page__header2 .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.home-page__header2 .dropdown:hover .dropdown-content {
  display: block;
}


.grid-2-equal{
  display: grid;
  grid-template-areas: "ax bx";
  align-items: center;
  justify-content: space-around;
}


.maisha-mission-section{
  grid-area: bx;
}
@media (max-width:768px){
  .grid-2-equal{
    grid-template-areas: "ax" "bx";
    width: 98%;
    padding-inline: 1%;
  }
}



.video-overview {
  position: relative;
  margin: 0 auto;
}
.maisha-video-dimensions {
  width: 460px;
  height: 267px;
  border-radius: 1%;
}
.my-video-dimensions{
  width: 100%;
  height: 100%;
}
.video-js .vjs-big-play-button {
  background-color: var(--brand-color) !important;
}
.vjs-poster img{
  object-fit: cover !important;
  border-radius: 5px;
}

.video-js .vjs-tech {
  width:99% !important;
  height:99% !important; 
  padding: 0.5%;
}
.video-js{
  border-radius: 5px;
}
@media (max-width:480px) {
  .maisha-video-dimensions {
    max-width: 460px;
    min-width: 240px;
    max-height: 267px;
    min-height: 240px;
    height: 80%;
    width:90%;
  }
}








.maisha-footer{
  background-color: rgb(41, 53, 65) !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.pd_tb2{
  padding-top: 2em;
  padding-bottom: 2em;
}
.maisha-footer .footer-designer{
  width: 100%;
}
.maisha-footer > *{
  letter-spacing: 0.01em;
}

.maisha-footer :is(h1,h2,h3,h4,h5){
  color: rgb(240, 139, 29);
}

.maisha-footer p{
  color: var(--brand-light);
}
.maisha-footer p a{
  color: var(--brand-light);
  text-decoration: underline;
}
.maisha-footer .description{
  font-size: 0.8em;
  color: var(--brand-light);
}

.maisha-footer > .footer-designer{
  background-color: rgb(62, 75, 89)
}

main .social-media-links{
  position: fixed;
  right:1%;
  top:30%;
  background-color: var(--brand-light);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 5px;
  z-index: 1000;
}

main .social-media-links a i{
  color: var(--brand-color-alt);
  font-size: 2rem;
}