<article class="eleso-video-container eleso-video-dimensions eleso-m-1">
  <div class="poster-wrapper">
    <img src="../media/uploads/images/3.jpg" alt="Video Poster" class="eleso-poster" loading="lazy" />
    <div class="play-button-overlay">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="64px" height="64px">
              <path d="M8 5v14l11-7z" />
            </svg>
    </div>
  </div>

  <video controls preload="none" id="eleso-video" class="eleso-video" playsinline>
    <source src="../media/uploads/videos/ccc.mp4" type="video/mp4"  />
  </video>
</article>

