/* CSS */
/* Carousel Container */
.carousel-container {
  --pd: 10px;
  --brand-color: var(--theme-primary);
  --brand-color-alt: var(--theme-primary);
  --brand-color-light: var(--theme-light);
  --max-width: 100%;
  --tolerance-width: 10%;
  --border-radius: 5px;
  --carousel-navigation-top: 50%;
  --carousel-image-description-bottom: 10%;
  position: relative;
  overflow: hidden;

  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: grid;
}

.carousel-container{
  width: calc(var(--max-width) - var(--pd)*2 - var(--tolerance-width));

  margin: 0 auto;
}

.carousel-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* Carousel Image Container */
.carousel-image {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
  overflow: hidden;
  background-color: var(--theme-secondary);
  aspect-ratio: 4 / 3;
}

/* Individual Carousel Image */
.carousel-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Carousel Navigation Buttons */
.carousel-navigation {
  --pd-inline: 2px;
  position: absolute;
  top: var(--carousel-navigation-top);
  transform: translateY(-50%);
  padding: var(--pd-inline);
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(var(--max-width) - var(--pd-inline)*2);
}

.carousel-navigation > * {
  --size: 30px;
  position: relative;
  border: none;
  height: var(--size);
  width: var(--size);
  background-color: var(--brand-color);
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 22px;
  color: var(--theme-light);
}

/* Hover styles for the carousel navigation buttons */
.carousel-navigation :is(.prev-button, .next-button):hover {
  background-color: var(--brand-color-alt);
  color: var(--brand-light);
}

/* Active style for the carousel navigation buttons */
.carousel-navigation .prev-button.active,
.carousel-navigation .next-button.active {
  background-color: var(--brand-color-alt);
  color: var(--brand-light);
}

/* Carousel Descriptions */
.carousel-descriptions {
  --pd: 5px;
  --tolerance-width: 5%;
  --width: calc(var(--max-width) - var(--pd) * 4);
  display: grid;
  justify-content: center;
  align-items: center;
  bottom: var(--carousel-image-description-bottom);
  padding: calc(var(--pd)*0.125) calc(var(--pd)*2);
  width: var(--width);
  transition: opacity 0.5s ease;
  z-index: 2;
}

.quote-container .carousel-descriptions {
  position: absolute;
}

.carousel-descriptions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0) 40%);
  z-index: -1;
}

.image-description {
  --width: calc(var(--max-width) - var(--pd) * 2);
  display: none;
  max-width: var(--width);
  background-color: var(--theme-secondary-light);
  border-radius: var(--border-radius);
  text-align: center;
  color: var(--theme-dark);
  padding: var(--pd);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
  .slider-images .image-description{
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 7%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%,rgba(0, 0, 0, 0.65) 5%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.1) 30%,rgba(0, 0, 0, 0) 45%);
      color: white;
}


/* Carousel Dots */
.dot {
  --size: 10px;
  height: var(--size);
  width: var(--size);
  border-radius: 100%;
  background-color: var(--theme-dark);
  margin-inline: 3px;
}

.dot.active {
  background-color: var(--theme-primary);
}

.dot-container {
  --pd: 10px;
  --size: 20px;
  --tolerance-width: 1%;
  background-color:  transparent;
  position: absolute;
  z-index: 100;
  height: var(--size);
  bottom: calc(var(--carousel-image-description-bottom) - var(--size) - var(--tolerance-width));
  width: fit-content;
  align-items: center;
  display: flex;
  justify-self: center;
  padding-inline: var(--pd);
  border-radius: var(--border-radius);
}

.quote-container > p {
  margin-inline: 20px;
  color: var(--theme-dark);
}
