
:root {
  --grid-cols-xs: 1;
  --grid-cols-sm: 2;
  --grid-cols-md: 3;
  --grid-cols-lg: 4;
  --grid-cols-xl: 4;
  --grid-gap-xs: 0.25rem;
  --grid-gap-sm: 0.5rem;
  --grid-gap-md: 0.75rem;
  --grid-gap-lg: 1rem;
  --grid-gap-xl: 1.25rem;

  --flex-gap:1rem;
  
  --util-scale:0.25;
  --util-max-size:1;

  --util-size-1:0.25rem;
  --util-size-2:0.5rem;
  --util-size-3:0.75rem;
  --util-size-4:1rem; 
  --util-size-max:5%; 

  /* Font Design */
  --font-size-small: 0.875rem; /* 14px / 16px */
  --font-size-medium: 1rem; /* 16px / 16px */
  --font-size-large: 1.125rem; /* 18px / 16px */

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --letter-spacing-normal: 0.05em;
  --letter-spacing-wide: 0.1em;

  --line-height-normal: 1.5;
  --line-height-tight: 1.2;

  --ff:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-casual-family: var(--ff);
  --font-modern-family: var(--ff);
  --font-fancy-family: var(--ff);
  --font-executive-family: var(--ff);
  --font-subtle-family: var(--ff);
  --font-subtle-family: var(--ff);

  --z_index_modal:1005;

  --pink:pink;
  --yellow:yellow;
  --green-yellow:greenyellow;
  --lightblue: #6d6dd7;
}

@media (prefers-color-scheme: dark) {
  /* Use the dark theme object as the default theme */
  :root {
    --theme-primary: #BF4F74;
    --theme-secondary: #212121;
    --theme-secondary-light:#181818;
    --theme-secondary-lighter:#373636;
    --theme-secondary-loader: #373636d1;
    --theme-accent: #e15e06;
    --theme-accent-alt:#d35400;
    --theme-dark: #e9e7e7;
    --theme-dark-light:#eee5e5;
    --theme-light: #32404e;

    --shadow-color-dark: rgba(156, 165, 191, 0.3);
    --shadow-color-light: rgba(156, 165, 191, 0.15);
    --hover-shadow-color: rgba(255, 255, 255, 0.25);
  }
}
@media (prefers-color-scheme: light) {
  /* Use the light theme object as the default theme */
  :root {
    --theme-primary-rgb: 191, 59, 141;
    --theme-primary: rgb(var(--theme-primary-rgb));
    --theme-secondary: #f8f8f8;
    --theme-secondary-light:#fff3ef;
    --theme-secondary-lighter:#fff;
    --theme-secondary-loader: #ffffff6e;
    --theme-accent: #e15e06;
    --theme-accent-alt:#d35400;
    --theme-dark: #050404;
    --theme-dark-light:#232527;
    --theme-light: #FFFFFF;

    --shadow-color-dark: rgba(60, 64, 67, 0.3);
    --shadow-color-light: rgba(60, 64, 67, 0.15);
    --hover-shadow-color: rgba(0, 0, 0, 0.25);
  }
}

/*
* Basic Reset
*/
* {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-family: "sharp-sans", Montserrat, Verdana, sans-serif;
}

/**
  * Themes
  */
.eleso-theme-primary{
  background-color: var(--theme-primary);
}
.eleso-theme-secondary{
  background-color: var(--theme-secondary);
}
.eleso-theme-secondary-light{
  background-color: var(--theme-secondary-light);
}
.eleso-theme-secondary-lighter{
  background-color: var(--theme-secondary-lighter);
}
/*
* Layout Styles 
*/
body{
  transition: all 1s ease-in-out; 
  background-color: var(--theme-secondary-lighter);
  font-family: "sharp-sans", Montserrat, Verdana, sans-serif;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.eleso-app-layout{
  display: grid;
  grid-template-areas:"header" "main" "footer";
}
header{
grid-area: header;
}

header i.icon-cancel{
display: none;
}

.eleso-mobile-nav{
display: none !important;
}
.eleso-mobile-nav-active{
display: block !important;
position:fixed;
top:0;
left:0;
z-index:10000;
height:100%;
flex-direction: column;
width: fit-content;
}
.active{
display: flex !important;
cursor: pointer;
}
header i.icon-menu{
display: none;
}

@media (max-width:992px){
header .nav{
  display: none;
}
header i.icon-menu{
  display: grid;
  cursor: pointer;
}
header .nav-middle{
  display: none !important;
}
header .nav-right{
  width: 98%;
  display: grid !important;
  justify-items: flex-end;
}
header .contact-hotline{
  display: none !important;
}

}
main{
  grid-area: main;
}

footer{
  grid-area: footer;
}


/* Grid Layout */
.eleso-layout-row3-col1{
  display: grid;
  grid-template-areas: "a" "b" "c";
}

.eleso-layout-row3-col1 > :nth-child(1){
  grid-area: a;
}
.eleso-layout-row3-col1 > :nth-child(2){
  grid-area: b;
}
.eleso-layout-row3-col1 > :nth-child(3){
  grid-area: c;
}
/* Use a mobile-first approach to define the grid layout */
.eleso-grid-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols-xs), 1fr);
  grid-gap: var(--grid-gap-xs);
}

.eleso-grid-container-col-1{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: var(--grid-gap-xs);
}
/* Use media queries to adjust the grid layout for larger devices */
@media (min-width: 576px) {
  .eleso-grid-container {
    grid-template-columns: repeat(var(--grid-cols-sm), 1fr);
    grid-gap: var(--grid-gap-sm);
  }

}

@media (min-width: 992px) {
  .eleso-grid-container {
    grid-template-columns: repeat(var(--grid-cols-md), 1fr);
    grid-gap: var(--grid-gap-md);
  }
  .eleso-grid-container-col-1{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 992px) {
  .eleso-grid-container {
    grid-template-columns: repeat(var(--grid-cols-lg), 1fr);
    grid-gap: var(--grid-gap-lg);
  }
}

@media (min-width: 1200px) {
  .eleso-grid-container {
    grid-template-columns: repeat(var(--grid-cols-xl), 1fr);
    grid-gap: var(--grid-gap-xl);
  }
}

@media (min-width: 576px) {
  :root {
      --font-size-small: 1rem; /* 16px / 16px */
      --font-size-medium: 1.125rem; /* 18px / 16px */
      --font-size-large: 1.25rem; /* 20px / 16px */
  }
}

@media (min-width: 768px) {
  :root {
      --font-size-small: 1.125rem; /* 18px / 16px */
      --font-size-medium: 1.25rem; /* 20px / 16px */
      --font-size-large: 1.375rem; /* 22px / 16px */
  }
}

.eleso-grid{
display: grid;
}

.eleso-display-none{
display: none;
}

/* Display flex */
.eleso-flex{
  display: flex;
}

.eleso-flex-column{
  flex-direction: column;
}

.eleso-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items on mobile */
}

.eleso-flex-item {
  flex: 1;
  margin: var(--flex-gap);
  max-width: calc(100% - var(--flex-gap) * 2); /* Full width on mobile */
  box-sizing: border-box;
}
.eleso-flex-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eleso-hover-link-icon:hover .icon-arrow_right_alt {
  margin-left: 10px; 
  transition: transform 0.3s ease-in-out, margin-left 0.9s ease-in-out; 
}
 /*
* utility styles
*/


/* Define some utility classes for styling the grid items */
.eleso-grid-item {
  --border:2px solid transparent;
  --text-align:center;

  border: var(--border);
  padding: var(--util-size-2);
  text-align: var(--text-align);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow: hidden; 
}

/* Hover effect */
.eleso-grid-item:hover {
  transform: scale(1.02); /* Slightly increase size on hover */
}
.eleso-box-shadow {
--box-shadow: var(--shadow-color-dark) 0px 1px 2px 0px, var(--shadow-color-light) 0px 2px 6px 2px;
box-shadow: var(--box-shadow);
}

.eleso-box-shadow-plain {
  --box-shadow: var(--shadow-color-dark) 0px 1px 2px 0px, var(--shadow-color-light) 0px 2px 6px 2px;
  box-shadow: var(--box-shadow);
  }

.eleso-box-shadow:hover {
--box-shadow: var(--hover-shadow-color) 0px 25px 50px -12px;
}


.eleso-soft-box-shadow {
  --border-color: rgb(229, 244, 250);
  --box-color: rgba(0, 116, 178, 0.14);
  border-color: var(--border-color);
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 8px 10px 0px var(--box-color);
  -moz-box-shadow: 0px 8px 10px 0px var(--box-color);
  box-shadow: 0px 8px 10px 0px var(--box-color);
}
/* Utility class styles for justify-content */
.eleso-justify-content-space-between{
  justify-content: space-between;
}
.eleso-justify-content-space-around{
  justify-content: space-around;
}

.eleso-justify-content-start{
justify-content: flex-start;
}
.eleso-justify-content-end{
  justify-content: flex-end;  
}
.eleso-justify-items-center
{
justify-items: center;
}
.eleso-align-items-center {
  align-items: center;
}

.eleso-align-items-start {
  align-items: flex-start;
}

.eleso-align-items-end {
  align-items: flex-end;
}

.eleso-bg-black {
  background-color: black;
}

.eleso-bg-white {
  background-color: var(--theme-secondary);
}

.eleso-bg-gray {
  background-color: gray;
}

/* font styles */
.eleso-text-black {
  color: var(--theme-dark);
}

.eleso-text-white {
  color: var(--theme-dark);
}

.eleso-text-gray {
  color: gray;
}

.eleso-text-brand {
  color: var(--theme-primary);
}

.eleso-font-italic {
  font-style: italic;
}

.eleso-font-normal {
  font-style: normal;
}

.eleso-text-center {
  --text-align:center;
  text-align: var(--text-align);
}

.eleso-text-left {
  --text-align: left;
  text-align: var(--text-align);
}

.eleso-text-right {
  --text-align:right;
  text-align: var(--text-align);
}

.eleso-font-size-1 {
  font-size: 1rem;
}

.eleso-font-size-2 {
  font-size: 1.25rem;
}

.eleso-font-size-3 {
  font-size: 1.5rem;
}

.eleso-font-size-4 {
  font-size: 1.75rem;
}

/* Margin styles */

.eleso-m-1 {
  margin:var(--util-size-1);
}

.eleso-m-2 {
  margin:var(--util-size-2);
}

.eleso-m-3 {
  margin:var(--util-size-3);
}

.eleso-m-4 {
  margin:var(--util-size-4);
}

.eleso-mt-1 {
  margin-top:var(--util-size-1);
}
.eleso-mb-1 {
  margin-bottom:var(--util-size-1);
}
.eleso-mtb-1 {
  margin-top:var(--util-size-1);
  margin-bottom:var(--util-size-1);
}
.eleso-m-inline-1 {
  margin-inline:var(--util-size-1);
}

.eleso-mt-2 {
  margin-top:var(--util-size-2);
}
.eleso-mb-2 {
  margin-bottom:var(--util-size-2);
}
.eleso-mtb-2 {
  margin-top:var(--util-size-2);
  margin-bottom:var(--util-size-2);
}
.eleso-m-inline-2 {
  margin-inline:var(--util-size-2);
}

.eleso-mt-3 {
  margin-top:var(--util-size-3);
}
.eleso-mb-3 {
  margin-bottom:var(--util-size-3);
}
.eleso-mtb-3 {
  margin-top:var(--util-size-3);
  margin-bottom:var(--util-size-3);
}
.eleso-m-inline-3 {
  margin-inline:var(--util-size-3);
}

.eleso-mt-4 {
  margin-top:var(--util-size-4);
}
.eleso-mb-4 {
  margin-bottom:var(--util-size-4);
}
.eleso-mtb-4 {
  margin-top:var(--util-size-4);
  margin-bottom:var(--util-size-4);
}
.eleso-m-inline-4 {
  margin-inline:var(--util-size-4);
}

.eleso-mr-1 {
  margin-right:var(--util-size-1);
}
.eleso-mr-2 {
  margin-right:var(--util-size-2);
}
.eleso-mr-3 {
  margin-right:var(--util-size-3);
}
.eleso-mr-4 {
  margin-right:var(--util-size-4);
}
.eleso-ml-1 {
  margin-left:var(--util-size-1);
}
.eleso-ml-2 {
  margin-left:var(--util-size-2);
}
.eleso-ml-3 {
  margin-left:var(--util-size-3);
}
.eleso-ml-4 {
  margin-left:var(--util-size-4);
}

/* Padding styles */
.eleso-p-1 {
  padding:var(--util-size-1);
}

.eleso-p-2 {
  padding:var(--util-size-2);
}

.eleso-p-3 {
  padding:var(--util-size-3);
}

.eleso-p-4 {
  padding:var(--util-size-3);
}

.eleso-pt-1 {
  padding-top:var(--util-size-1);
}
.eleso-pb-1 {
  padding-bottom:var(--util-size-1);
}
.eleso-ptb-1 {
  padding-top:var(--util-size-1);
  padding-bottom:var(--util-size-1);
}
.eleso-p-inline-1 {
  padding-inline:var(--util-size-1);
}

.eleso-pt-2 {
  padding-top:var(--util-size-2);
}
.eleso-pb-2 {
  padding-bottom:var(--util-size-2);
}
.eleso-ptb-2 {
  padding-top:var(--util-size-2);
  padding-bottom:var(--util-size-2);
}
.eleso-p-inline-2 {
  padding-inline:var(--util-size-2);
}

.eleso-pt-3 {
  padding-top:var(--util-size-3);
}
.eleso-pb-3 {
  padding-bottom:var(--util-size-3);
}
.eleso-ptb-3 {
  padding-top:var(--util-size-3);
  padding-bottom:var(--util-size-3);
}
.eleso-p-inline-3 {
  padding-inline:var(--util-size-3);
}

.eleso-pt-4 {
  padding-top:var(--util-size-4);
}
.eleso-pb-4 {
  padding-bottom:var(--util-size-4);
}
.eleso-ptb-4 {
  padding-top:var(--util-size-4);
  padding-bottom:var(--util-size-4);
}

.eleso-ptb-max {
  padding-top:var(--util-size-max);
  padding-bottom:var(--util-size-max);
}

.eleso-p-inline-4 {
  padding-inline:var(--util-size-4);
}

.eleso-p-inline-max {
  padding-inline:var(--util-size-max);
  width:calc(100% - var(--util-size-max)*2);
}


/*  Border styles */

.eleso-border {
  border: 1px solid var(--theme-primary);
}
.eleso-border-2 {
  --border: 2px solid transparent;
  border: var(--border);
}
.eleso-border-2:hover {
  --border: 2px solid var(--theme-primary);
}
.eleso-border-none {
  border: none;
}

.eleso-br-1 {
  border-radius: var(--util-size-1);
}

.eleso-br-2 {
  border-radius: var(--util-size-2);
}

.eleso-br-3 {
  border-radius: var(--util-size-3);
}

.eleso-br-4 {
  border-radius: var(--util-size-4);
}


.eleso-position-absolute{
  position: absolute;
}

.eleso-position-relative{
  position: relative;
}
.eleso-position-fixed{
  position: fixed;
}

.eleso-z-index-modal{
  z-index:var(--z_index_modal);
}

.eleso-position-right-center{
  top:45%;
  right:1%;
}

/*
* component styles
*/

/*
* Font system
*/
 
.eleso-font-small {
  font-size: var(--font-size-small);
}

.eleso-font-medium {
  font-size: var(--font-size-medium);
}

.eleso-font-large {
  font-size: var(--font-size-large);
}

.eleso-font-light {
  font-weight: var(--font-weight-light);
}

.eleso-font-regular {
  font-weight: var(--font-weight-regular);
}

.eleso-font-bold {
  font-weight: var(--font-weight-bold);
}

.letter-spacing-normal {
  letter-spacing: var(--letter-spacing-normal);
}

.letter-spacing-wide {
  letter-spacing: var(--letter-spacing-wide);
}

.line-height-normal {
  line-height: var(--line-height-normal);
}

.line-height-tight {
  line-height: var(--line-height-tight);
}

.eleso-font-fancy {
  --color: var(--theme-dark);
  font-family: var(--font-fancy-family);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  line-height: var(--line-height-tight);
  color: var(--color);
}

.eleso-font-executive {
  --color: var(--theme-dark-light);
  font-family: var(--font-executive-family);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-normal);
  line-height: var(--line-height-normal);
  color: var(--color);
}

.eleso-font-casual {
  --color: var(--theme-dark-light);
  font-family: var(--font-casual-family);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-normal);
  line-height: var(--line-height-normal);
  color: var(--color);
}

.eleso-font-modern {
  --color: var(--theme-dark-light);
  font-family: var(--font-modern-family);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  line-height: var(--line-height-tight);
  color: var(--color);
}

.eleso-font-subtle {
  --color: var(--theme-dark-light);
  font-family: var(--font-subtle-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-normal);
  line-height: var(--line-height-tight);
  color: var(--color);
}

.eleso-font-highlight {
  --color: var(--theme-dark-light);
  font-family: 'Highlight Font', sans-serif; /* Define your highlight font family */
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  line-height: var(--line-height-normal);
  color: var(--color);
}

.eleso-font-gradient {
/* Set font size, family, etc. */
font-family: Arial, sans-serif; /* Adjust font family as needed */
font-weight: var(--font-weight-bold); /* Adjust font weight as needed */
/* Create gradient background */
background: linear-gradient(to left, 
    var(--theme-primary),
    yellowgreen,
    var(--theme-accent-alt)
);
/* Clip the background to the text */
-webkit-background-clip: text;
background-clip: text;

/* Set the text color transparent to let the background gradient show through */
color: transparent;
}

.eleso-font-gradient-shine {
background: linear-gradient(
    to right,
    var(--theme-primary) 20%,
    var(--theme-accent) 30%,
    var(--theme-dark-light) 70%,
    var(--theme-primary) 80%
);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
text-fill-color: transparent;
background-size: 500% auto;
animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
0% {
    background-position: 0% 50%;
}
100% {
    background-position: 100% 50%;
}
}

.eleso-typing-effect {
  white-space: nowrap;
  overflow: hidden;

}

.eleso-typing-effect #cursor {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.eleso-warm-line{
  height:2px;
  width:100%;
  background-image: linear-gradient(to right, var(--pink), var(--yellow), var(--green-yellow),var(--yellow), var(--lightblue),var(--pink));
}

.eleso-bg-gradient{
  --tw-gradient-to: #eff6ff !important;
  --tw-gradient-from: #ede9fe !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
  background-image: linear-gradient(to top,var(--tw-gradient-stops))!important;
}


.eleso-border-round{
  border-radius: 5px;
} 

/* Component 1: Simple Link */
.eleso-link {
  color: var(--theme-dark);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.eleso-link:hover {
  color: var(--theme-primary);
}


/* Component 2: Button-like Link */
.eleso-btn-link {
  --color: var(--theme-dark-light);
  --bg:transparent;
  --border-color:var(--theme-primary);
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--bg);
  color:var(--color) ;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid var(--border-color);
}

.eleso-btn-link:hover {
  background-color: var(--theme-primary);
  color: #fff;
  cursor:pointer;
}

/* Component 3: Animated Underline Link */
.eleso-animated-underline-link {
  position: relative;
  color: var(--theme-dark-light);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.eleso-animated-underline-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--theme-accent);
  transition: width 0.3s ease-in-out;
}

.eleso-animated-underline-link:hover {
  color: var(--theme-accent);
}

.eleso-animated-underline-link:hover::after {
  width: 100%;
}
/* Component 4: Animated Button-like Link */
.eleso-btn-animated-link {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--theme-accent);
  color: var(--theme-dark);
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.eleso-btn-animated-link:hover {
  background-color: var(--theme-primary);
  transform: scale(1.1); /* Adjust the scale factor as needed */
}

/* Component 5: Styled List */
.eleso-styled-list {
  list-style: none;
  padding: 0;
}



@keyframes shake {
  0%, 100% { transform: rotate(0deg) translateX(0); }
  20%, 40%, 60%, 80% { transform: rotate(-10deg) translateX(-5px); }
  10%, 30%, 50%, 70%, 90% { transform: rotate(10deg) translateX(5px); }

}

.eleso-shake-element {
  animation: shake  1s ease-in-out infinite;
}


/* Video Element */
.eleso-video-container {
  position: relative;
}

.poster-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.eleso-video-dimensions  .poster-wrapper .eleso-poster {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1000;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

.eleso-video-dimensions .eleso-video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: block;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

.eleso-video-dimensions {
  width: 460px;
  height: 267px;
  border-radius: 5px;
}

@media (max-width:480px) {
  .eleso-video-dimensions {
    max-width: 460px;
    min-width: 240px;
    max-height: 267px;
    min-height: 240px;
    height: 80%;
    width:90%;
  }
}

.play-button-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  z-index: 1005;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  border: 1px solid var(--theme-primary);
}

.play-button-overlay:hover{
  background-color: var(--theme-primary);
}

.play-button-overlay svg {
  fill: var(--theme-primary);
}

.play-button-overlay:hover svg{
  fill: var(--theme-dark)
}


/* Use a white background and a box shadow for the form */
.eleso-form {
  max-width: 600px;
  margin: var(--util-size-3) auto;
  padding: var(--util-size-4);
  border-radius: 5px;
}

/* Use a dark blue color and a large font size for the heading */
.eleso-heading {
  color: var(--theme-primary);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Use a medium gray color and a small font size for the label */
.eleso-form label {
  color: var(--theme-dark);
}

/* Use a light gray border and a medium font size for the input and textarea */
.eleso-form :is(.eleso-input, .eleso-textarea) {
  --pd: var(--util-size-3);
  border: 1px solid var(--theme-secondary);
  padding: var(--pd);
  width: calc(100% - var(--pd) * 2);
  margin: var(--util-size-2) 0;
  background-color: var(--theme-secondary-light);
  border-radius: 5px;
  color: var(--theme-dark);
}

/* Use a larger height and a resize handle for the textarea */
.eleso-textarea {
  height: 100px;
  resize: vertical;
}

/* Use a dark blue background, a white color, and a medium font size for the button */
.eleso-button {
  background-color: var(--theme-primary);
  color: var(--theme-light);
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
}

/* Use a lighter blue background for the button on hover */
.eleso-button:hover {
  background-color: var(--theme-accent);
}


/* Select the image element */
.eleso-app-layout .eleso-image {
  width: 100%;
  aspect-ratio:4/3;
  object-fit: cover;
}

.eleso-app-layout .eleso-image-logo{
  width: 50px;
  height: 50px;
} 


.donation__method-img {
  width: 104px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  margin-right: 8px;
}


.loader {
  background-color: var(--theme-secondary-loader);
  color: var(--theme-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.eleso-clip-path{
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.eleso-clip-text-right{
  --min-width-clip:85%;
  clip-path: polygon(0 0, 99% 0, var(--min-width-clip) 100%, 0% 100%);
  padding: 5% calc(100% - var(--min-width-clip)) 5% 3%;
}
.eleso-clip-text-right p{
  width:var(--min-width-clip);
}

.eleso-clip-text-left{
  --min-width-clip:15%;
  clip-path: polygon(var(--min-width-clip) 0, 99% 0, 100% 100%, 0% 100%);
  padding: 5% 5% 5% calc(100% - var(--min-width-clip));
}
.eleso-clip-text-left p{
  width:var(--min-width-clip);
}



.eleso-img-media{
  overflow: hidden;
  background-color: transparent;
 /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.025) 10%, transparent 0), linear-gradient(#222, #000);
  */

  display: flex;
  align-items: center;
}
.eleso-img-wrapper {
position: relative;
flex-grow: 1;
margin: auto;
max-width: 1200px;
max-height: 1200px;
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-gap: 2vmin;
justify-items: center;
align-items: center;
}
.eleso-img-wrapper-inner{
  background-image: linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
}
.eleso-img-wrapper img {
z-index: 1;
grid-column: span 2;
max-width: 100%;
margin-bottom: -52%;
-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
transform: scale(1);
transition: all 0.25s;
}
.eleso-img-wrapper img:nth-child(7n+1) {
grid-column: 2/span 2;
}
.eleso-img-wrapper img:hover {
z-index: 2;
transform: scale(2);
}
.eleso-clip-path-top{
  clip-path: polygon(69% 4%, 100% 0%, 100% 100%, 0 100%, 0 0);
}

.eleso-clip-path-chat{
  clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 75% 90%, 75% 100%, 64% 91%, 0 91%);
}

.eleso-image-overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.eleso-image-overlay img {
  display: block;
  height: auto;
}

.eleso-overlay{
  display: grid;
  text-align: center;
  align-items: center;
 /* position: absolute;*/
  top: 0;
  font-size: var(--font-size-large);
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #222); 
  color: #fff;
}

.eleso-clip-auto{
  clip-path: polygon(13% 0, 100% 0%, 100% 100%, 0% 100%);
}

@media (max-width:992px){
  .eleso-clip-auto{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .eleso-clip-path-top{
    clip-path: polygon(1% 1%, 100% 0%, 100% 100%, 0 100%, 0 0) !important;
  }
}

.eleso-corporate-carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.eleso-corporate-carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.eleso-corporate-carousel-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, transparent 50%, rgba(7, 7, 7, 0.4) 100%); 
  filter: blur(8px); 
  z-index: 1;
}

@media (max-width:992x){
  .eleso-corporate-carousel-slide::after {
    background: transparent;
    filter: blur(2px); 
  }
}

.eleso-corporate-carousel-slide.active {
  opacity: 1;
}

.eleso-corporate-carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75);
}

.eleso-corporate-carousel-content {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.eleso-corporate-carousel-title {
  font-size: clamp(32px, 5vw, 64px);
  font-weight: bold;
  margin-bottom: 16px;
}

.eleso-corporate-carousel-subtitle {
  font-size: clamp(20px, 4vw, 36px);
  margin-bottom: 22px;
}

.eleso-corporate-carousel-button {
  display: inline-block;
  background-color: var(--theme-primary);
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.eleso-corporate-carousel-button:hover {
  background-color: #0056b3;
}

.eleso-corporate-carousel-controls {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
}

.eleso-corporate-carousel-controls button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  margin: 0 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.eleso-corporate-carousel-controls button.active {
  background-color: var(--theme-primary);
}

@media (max-width: 767px) {
  .eleso-corporate-carousel {
    height: 60vh;
  }
  .eleso-corporate-carousel-title {
    font-size: clamp(24px, 5vw, 48px);
  }
  .eleso-corporate-carousel-subtitle {
    font-size: clamp(16px, 4vw, 28px);
    margin-bottom: 24px;
  }
  .eleso-corporate-carousel-button {
    font-size: 16px;
    padding: 10px 20px;
  }
}

.eleso-bg-gradient-filter{
  background: linear-gradient(90deg, rgba(255,246,239,0) 0%, #fff6ef 30%)
}

/* Lightbox */
.eleso-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.eleso-lightbox img {
  max-width: 90%;
  max-height: 90%;
}

.eleso-close-button {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}


/* content slider */

.eleso-slider {
  max-width:calc(100% - var(--util-size-3)*2);
  margin: calc(var(--util-size-3)*2) 0; 
  overflow: hidden;
  /*background-color: var(--theme-secondary-light);*/
}

.eleso-slider-container-cube{
  max-width:98vw;
  padding:1vh 1vw;
}
.eleso-slider .eleso-content-slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.eleso-slider .eleso-content-slider .eleso-slide {
  --br: 8px;
  min-width: 275px;
  max-width: 300px;
  width: calc(100% - var(--util-size-2) * 2);
  background-color: var(--theme-secondary-lighter);
  border-radius: var(--br);
  --box-shadow: var(--shadow-color-dark) 0px 1px 2px 0px, var(--shadow-color-light) 0px 2px 6px 2px;
  box-shadow: var(--box-shadow);
  padding: var(--util-size-2);
}

.eleso-slide {
  width: 100%;
  height: 360px;
  position: relative;
  overflow: hidden;
  border-radius: var(--br);
  box-shadow: var(--box-shadow);
  transition: transform 1.3s ease-in-out;
}


.eleso-slide .slide-image {
  --width: 250px;
  min-width: 250px;
  width: 100%;
  aspect-ratio: 4/3;
  height: calc(var(--width)*(3/4));
}

.eleso-min-image{
  --width: 100%;
  min-width: 250px;
  width: var(--width);
  aspect-ratio: 4/3;
  height: calc(var(--width)*(3/4));
  margin:0px auto;
  border-radius:10px;
  object-fit: cover;
}
.eleso-slide .slide-content {
  width: 96%;
  text-align: center;
  color: white;
  z-index: 2;
  height: 60%;
  margin: 2% 0;
  padding: 2%;
}

@media (max-width:768px){
  .eleso-min-image{
    --width: 100%;
  }
}

.eleso-slide .slide-content h2 {
  margin-bottom: 1rem;
}

.eleso-slide .slide-content p {
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eleso-slide .show-more-button {
  background-color: rgba(var(--theme-primary-rgb), 0.8);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
  position: absolute;
  bottom: 0;
}

.eleso-slide .show-more-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color:var(--theme-primary);
  border:1px solid var(--theme-primary);
}

.eleso-slide .description {
  --line-height: 1.5; 
  --line-clamp: 4;
  --mh: calc(var(--line-height) * var(--line-clamp) * 1rem); 


  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.eleso-slide .description.expanded {
  max-height: 15rem;
  white-space: normal;
  overflow: auto;
  text-overflow: initial;
}

.eleso-slider .eleso-slider-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.eleso-slider .eleso-slider-pagination .eleso-pagination-dot {
  width: 10px;
  height: 10px;
  background-color: var(--theme-dark);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.eleso-slider .eleso-slider-pagination .eleso-pagination-dot.active {
  background-color: var(--theme-primary);
}

/*   Content Card  */
.eleso-content-card {
  background-color: transparent;
  /* box-shadow: 0 2px 4px var(--shadow-color-dark); */
  border-radius: 4px;
}

.eleso-content-card__header {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--theme-dark);
  margin-bottom: var(--util-size-3);
}

.eleso-content-card__body {
  font-size: var(--font-size-small);
  color: var(--theme-dark-light);
  line-height: var(--line-height-normal);
  margin-bottom: var(--util-size-4);
  text-align: start;
}

.eleso-content-card__body--truncated {
  --line-height: 1.5; 
  --line-clamp: 4;
  --mh: calc(var(--line-height) * var(--line-clamp) * 1rem); 


  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}


.eleso-content-card__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eleso-content-card__show-more,
.eleso-content-card__show-less {
  color: var(--theme-dark);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  cursor: pointer;
  padding: var(--util-size-1);
  background-color:transparent;
  border:none;
  text-decoration:underline;
}

.eleso-content-card__show-more {
  display: none;
}

:is(.eleso-content-card__show-more,
.eleso-content-card__show-less):hover{
  color:var(--theme-primary);
}

.eleso-content-card__body--truncated + .eleso-content-card__actions .eleso-content-card__show-more {
  display: inline;
}

.eleso-content-card__read-more {
  color: var(--theme-primary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  display: flex;
  align-items: center;
}



.eleso-hero-section {
  position: relative;
  /*height: 100vh;*/
  overflow: hidden;
}

.eleso-hero-section__image {
  width: 100%;
  height: 100%;
}

.eleso-hero-section__image img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
}

.eleso-hero-section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
}

.eleso-hero-section__overlay:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.eleso-hero-section__title {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin-bottom: 20px;
}

.eleso-hero-section__description {
  font-size: var(--font-size-medium);
  margin-bottom: 30px;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: max-height 0.5s ease;
}

.eleso-hero-section__description--show-more {
  -webkit-line-clamp: unset;
  max-height: 1000px;
}

.eleso-hero-section__button {
  display: none;
  background-color: var(--theme-primary);
  color: #fff;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.eleso-hero-section__button--visible {
  display: inline-block;
}

.eleso-hero-section__button:hover {
  color: #f2f2f3;
}

/* Mobile */
@media (max-width: 767px) {
  .eleso-hero-section {
    height: auto;
  }

  .eleso-hero-section__image img {
    height: 50vh;
  }

  .eleso-hero-section__overlay {
    padding: 20px;
  }

  .eleso-hero-section__title {
    font-size: var(--font-size-medium);
    margin-bottom: 10px;
  }

  .eleso-hero-section__description {
    font-size: var(--font-size-small);
    margin-bottom: 20px;
  }

  .eleso-hero-section__button {
    display: inline-block;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .eleso-hero-section__image img {
    height: 60vh;
  }

  .eleso-hero-section__title {
    font-size: calc(var(--font-size-large) * 0.8);
  }

  .eleso-hero-section__description {
    font-size: calc(var(--font-size-medium) * 0.9);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .eleso-hero-section__image img {
    height: 80vh;
  }

  .eleso-hero-section__title {
    font-size: var(--font-size-large);
  }

  .eleso-hero-section__description {
    font-size: var(--font-size-medium);
  }
}


.eleso-aligned-image-block {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


@media (min-width: 768px) {
  .eleso-aligned-image-block {
      flex-direction: row;
  }
}

.eleso-aligned-image-block--reverse {
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .eleso-aligned-image-block--reverse {
      flex-direction: row-reverse;
  }
}

.eleso-aligned-image-block--poppy-red-10,
.eleso-section--poppy-red-10 {
  background-color: #fff3ef;
}

.eleso-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.eleso-wrapper--large {
  max-width: 1600px;
}

.eleso-wrapper--section{
  padding:40px 0;
}

.eleso-wrapper--section:first-child,.eleso-wrapper--section:last-child  {
  padding: 5px 0;
}
.eleso-wrapper--layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.eleso-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

@media (min-width: 768px) {
  .eleso-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.eleso-aligned-image-block__wrapper {
  align-items: center;
}
.eleso-aligned-image-block__wrapper:first-child{
  justify-items:flex-start;
}

.eleso-aligned-image-block__image {
  max-width: 100%;
  max-height: 400px; /* Set a maximum height */
  height: auto;
  border-radius: 8px; /* Add a slight rounded border */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
}

@media (max-width: 767px) {
  .eleso-aligned-image-block__image {
      max-height: 300px; /* Reduce maximum height for smaller screens */
  }
}

.eleso-aligned-image-block__content {
  padding:20px var(--padding);
  text-align: left;
  max-height: 400px;
  overflow-y: auto;
}


  .eleso-aligned-image-block__text {
      margin-bottom: 10px;
  }

  .eleso-see-more-btn {
      padding: 6px 12px;
      font-size: 14px;
  }


.eleso-aligned-image-block__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.eleso-aligned-image-block__text {
  margin-bottom: 20px;
}

.eleso-list {
  list-style-type: none;
  padding: 0;
}

.eleso-list--purple li,
.eleso-list--purple a {
  color: #800080;
}

.eleso-list--purple a {
  text-decoration: none;
}

.eleso-list--purple a:hover {
  text-decoration: underline;
}

.eleso-aligned-image-block--green-10,
.eleso-section--green-10 {
  background-color: #2ecc71;
}

.eleso-list--blue li,
.eleso-list--blue a {
  color: #3498db;
}

.eleso-list--blue a {
  text-decoration: none;
}

.eleso-list--blue a:hover {
  text-decoration: underline;
}

.eleso-hide {
  display: none;
}

.eleso-see-more-btn {
  background-color: #800080;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.eleso-see-more-btn:hover {
  background-color: #6a006a;
}

.eleso-underline-hr{
  border: 0;
  height: 4px;
  background: var(--theme-dark);
  margin: 25px auto;
  width: 20%;
}

.eleso-skeleton {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
      background-position: 200% 0;
  }
  100% {
      background-position: -200% 0;
  }
}

/* Adjust other skeleton styles as needed */
