{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script type="module" src="{% static '/mvc/apps/about/app.js' %}"></script>
    <section class="how-it-works-container eleso-theme-secondary-light eleso-p-4"></section>

<!--
        <div class="eleso-flex" style="overflow:auto;width: 90%;padding-inline: 2.5%;">
            <div class="card eleso-flex-item eleso-theme-secondary-lighter eleso-p-3 eleso-mtb-2 eleso-font-subtle eleso-border-round eleso-box-shadow">
                <h2 class="eleso-font-executive">Card 1</h2>
                <p class="eleso-font-subtle">This is the content of card 1.</p>
            </div>
            <div class="card eleso-flex-item eleso-theme-secondary-lighter eleso-p-3 eleso-mtb-2 eleso-font-subtle eleso-border-round eleso-box-shadow">
                <h2 class="eleso-font-executive">Card 2</h2>
                <p class="eleso-font-subtle">This is the content of card 2.</p>
            </div>
            <div class="card eleso-flex-item eleso-theme-secondary-lighter eleso-p-3 eleso-mtb-2 eleso-font-subtle eleso-border-round eleso-box-shadow">
                <h2 class="eleso-font-executive">Card 3</h2>
                <p class="eleso-font-subtle">This is the content of card 3.</p>
            </div>
            <div class="card eleso-flex-item eleso-theme-secondary-lighter eleso-p-3 eleso-mtb-2 eleso-font-subtle eleso-border-round eleso-box-shadow">
                <h2 class="eleso-font-executive">Card 2</h2>
                <p class="eleso-font-subtle">This is the content of card 2.</p>
            </div>
            <div class="card eleso-flex-item eleso-theme-secondary-lighter eleso-p-3 eleso-mtb-2 eleso-font-subtle eleso-border-round eleso-box-shadow">
                <h2 class="eleso-font-executive">Card 3</h2>
                <p class="eleso-font-subtle">This is the content of card 3.</p>
            </div>
            <div class="card eleso-flex-item eleso-theme-secondary-lighter eleso-p-3 eleso-mtb-2 eleso-font-subtle eleso-border-round eleso-box-shadow">
                <h2 class="eleso-font-executive">Card 2</h2>
                <p class="eleso-font-subtle">This is the content of card 2.</p>
            </div>
            <div class="card eleso-flex-item eleso-theme-secondary-lighter eleso-p-3 eleso-mtb-2 eleso-font-subtle eleso-border-round eleso-box-shadow">
                <h2 class="eleso-font-executive">Card 3</h2>
                <p class="eleso-font-subtle">This is the content of card 3.</p>
            </div>
        </div>

    -->

      
  
    

    
      
      
      
      
{% endblock %}
