{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>




</style>

<div class="how-it-works-container eleso-p-4 eleso-theme-secondary-lighter" style="padding-inline:10%">
  <h3 class="eleso-font-executive eleso-text-center eleso-mt-4 eleso-mb-1 eleso-typing-effect">
      <span id="text" class="eleso-font-gradient-shine">How It Works</span>
      <span id="cursor">|</span>
  </h3>
  <div class="how-it-works-section eleso-grid-container eleso-mb-4 eleso-mt-1 eleso-text-center eleso-align-center eleso-justify-items-center eleso-p-4" style="--grid-cols-xl:3;--grid-cols-lg:3;">
      <div class="eleso-grid-item eleso-mtb-2 eleso-font-subtle eleso-soft-box-shadow" style="border-color: rgb(229, 244, 250);padding:0">
        <div class="" style="">
          <a href="" title="HackerOne Case study">
          <img class="eleso-image" src="http://172.105.77.24/media/uploads/images/versions/thumbnail/1130ad15-e814-461b-8990-c1336ac37740.png" alt="">
          </a>
        </div>
          <div>
            <h4 class="eleso-font-fancy eleso-text-left eleso-mt-4 eleso-p-inline-4 eleso-mb-1 eleso-text-brand" style="--color:var(--theme-primary)">Charity Activity</h4>
        <p class="eleso-p-inline-4 eleso-pb-4 eleso-text-left">
              Generous companies and their employees further support high-impact projects with donations and grants, helping local communities thrive.
          </p>

        </div>
      </div>
      <div class="eleso-grid-item eleso-p-3 eleso-mtb-2 eleso-font-subtle eleso-soft-box-shadow" style="border-color: rgb(229, 244, 250);padding:0">
        <div class="" style="">
          <a href="" title="HackerOne Case study">
          <img class="eleso-image" src="http://172.105.77.24/media/uploads/images/versions/thumbnail/1130ad15-e814-461b-8990-c1336ac37740.png" alt="">
          </a>
        </div>
          <div>  
            <h4 class="eleso-font-fancy eleso-text-left eleso-mt-4 eleso-p-inline-4 eleso-mb-1 eleso-text-brand " style="--color:var(--theme-primary)">Charity Activity</h4>
            <p class="eleso-p-inline-4 eleso-pb-4 eleso-text-left">
              Nonprofits have the funding they need to listen to feedback and try out new ways to work; communities all over the globe get more awesome!
          </p>
        </div>
      </div>
      <div class="eleso-grid-item eleso-p-3 eleso-mtb-2 eleso-font-subtle eleso-soft-box-shadow" style="border-color: rgb(229, 244, 250);padding:0">
        <div class="" style="">
          <a href="" title="HackerOne Case study">
          <img class="eleso-image" src="http://172.105.77.24/media/uploads/images/versions/thumbnail/1130ad15-e814-461b-8990-c1336ac37740.png" alt="">
          </a>
        </div>
          <div> 
            <h4 class="eleso-font-fancy eleso-text-left eleso-mt-4 eleso-p-inline-4 eleso-mb-1 eleso-text-brand " style="--color:var(--theme-primary)">Charity Activity</h4>
            <p class="eleso-p-inline-4 eleso-pb-4 eleso-text-left">
              Nonprofits around the world apply and join Maisha to access more funding, to build new skills, and to make important connections.
          </p>
        </div>
      </div>
      <div class="eleso-grid-item eleso-p-3 eleso-mtb-2 eleso-font-subtle eleso-soft-box-shadow" style="border-color: rgb(229, 244, 250);padding:0">
        <div class="" style="">
          <a href="" title="HackerOne Case study">
          <img class="eleso-image" src="http://172.105.77.24/media/uploads/images/versions/thumbnail/1130ad15-e814-461b-8990-c1336ac37740.png" alt="">
          </a>
        </div>
          <div>  
            <h4 class="eleso-font-fancy eleso-text-left eleso-mt-4 eleso-p-inline-4 eleso-mb-1 eleso-text-brand ">Charity Activity</h4>
            <p class="eleso-p-inline-4 eleso-pb-4 eleso-text-left eleso-font-regular">
              People like you give to your favorite projects; you feel great when you get updates about how your money is put to work by trusted organizations.
          </p>
      </div>
    </div>
  </div>
  <button class="eleso-btn-link eleso-mtb-3 eleso-text-center" style="margin:5px auto">See All Program Activities</button>
</div>

{% endblock %}