{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

</style>

<section class="eleso-p-inline-max eleso-ptb-3 eleso-font-regular">
    <div class="eleso-p-inline-max  eleso-ptb-3" style="background-color: cornsilk;">
    <h2 class="eleso-pb-3 eleso-font-executive">Privacy Policy</h2>
    <h3 class="eleso-pb-3">Introduction</h3>
    <p>Maisha Girls Safe House ("we," "our," or "us") is committed to protecting your privacy. 
        This Privacy Policy explains how we collect, use, and safeguard your personal information when you visit our website or interact with our services.
    </p>
    
    <h3 class="eleso-pt-3">Information We Collect</h3>
    <p>We may collect the following types of information:
    
    Personal Information: Name, email address, phone number, and physical address.
    Non-Personal Information: Browser type, IP address, and website usage data.
    How We Use Your Information
    We use the collected information for the following purposes:
    </p>
    <ul  class="eleso-pt-3 eleso-p-inline-max ">
        <li>To respond to inquiries and provide information about our services.</li>
        <li>To process donations and send acknowledgment letters.</li>
        <li>To improve our website and services.</li>
        <li>To send newsletters and updates, if you have opted-in.</li>
    </ul>
    <h3>Sharing Your Information</h3>
    <p>We do not sell, trade, or otherwise transfer your personal information to outside parties, except as required by law or to trusted third parties who assist us in operating our website and conducting our business, as long as those parties agree to keep this information confidential.
    </p>
    <h3 class="eleso-pt-3">Data Security</h3>
    <p>We implement a variety of security measures to maintain the safety of your personal information. Your information is stored in secure networks and is only accessible by a limited number of persons who have special access rights to such systems and are required to keep the information confidential.
    </p>
    <h3 class="eleso-pt-3">Your Rights</h3>
    <p>You have the right to:
    
    Access the personal information we hold about you.
    Request correction of any incorrect or incomplete information.
    Request the deletion of your personal information.
    Opt-out of receiving communications from us.
    Cookies
    Our website uses cookies to enhance user experience and gather information about site traffic and interaction. You can choose to set your web browser to refuse cookies or to alert you when cookies are being sent.
    
    Changes to This Privacy Policy
    We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. We encourage you to review this Privacy Policy periodically for any updates.
    </p>
    <h3 class="eleso-pt-3">Contact Us</h3>
    <p>If you have any questions about this Privacy Policy, please contact us at:
    
    Email: info@maishasafehouse.org
    <br/>
    <span class="eleso-ptb-2 eleso-font-bold">By using our website, you consent to our Privacy Policy.</span>
    </p>
    
    
</div>
        
</section>



{% endblock %}