{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script type="module" src="{% static '/mvc/apps/organization/app.js' %}"></script>
    <section class="eleso-grid-container-col-1 eleso-p-3 eleso-theme-secondary " id="maisha-intro">
        <div class="eleso-container-noshadow about-maisha eleso-p-3 eleso-font-subtle"></div>
        <div class="eleso-clip-auto"><img class="about-maisha-image" style="width:98%;max-height:60vh;margin-inline:1%;border-radius:5px" src="https://source.unsplash.com/random/600x600?water" alt=""></div>
    </section>

{% endblock %}
